<template>
    <div class="container">
        <div class="text-center" style="margin: 20px 0px 20px 0px;">
            <h2 class="text-secondary">URL Shorter App</h2> <span>Developed By Saimun Hossain</span>
        </div>
        <router-view></router-view>
    </div>
</template>
  
<script>
    export default {}
</script>