<template>
    <div>
        <div class="container">
            <div class="card mt-5 mb-5">
                <div v-if="errorsExist == true" class="alert alert-danger" role="alert">
                    Whoops! Something didn't work. 
                    <ul>
                        <div v-for="(error,index) in errors" :key="index">
                            <li>{{ error[0] }}</li>
                        </div>
                    </ul>
                </div>
                <div class="card-header">
                    <form ref="submitForm" @submit.prevent="postShortUrl">
                        <div class="input-group mb-3">
                        <input type="text" v-model="url.link" class="form-control" placeholder="Enter URL" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-success" type="submit">Generate Short Url</button>
                        </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
  
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>Short Link</th>
                <th>Link</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(singleItem, index) in urlList" :key="singleItem.id">
                <td>{{ index + 1 }}</td>
                <td>
                    <a class="btn btn-success btn-sm" @click="getSingleShortUrl(singleItem.short_code)" target="_blank">https://{{ singleItem.short_code }}</a>
                </td>
                <td>{{ singleItem.link }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                url: {},
                urlList: [],
                errors: [],
                errorsExist: false
            }
        },
        methods: {
            postShortUrl() {
                this.axios.post('http://localhost:8000/api/v1/generate-shorten-link', this.url)
                .then(response => (
                    this.getShortUrl(),
                    this.$router.push({name: 'home'})
                    // console.log(response.data)
                )).catch(error => {
                    if(error.response.status === 422) {
                            this.errorsExist = true;
                            this.errors = error.response.data.errors || {};
                    }
                })
                this.url.link = '';
            },
            getShortUrl(){
                this.axios.get('http://localhost:8000/api/v1/get-url-list')
                    .then(response => {
                        this.urlList = response.data.data;
                    });
            },
            getSingleShortUrl(code){
                this.axios.get(`http://localhost:8000/api/v1/single-code/${code}`)
                    .then(response => {
                        console.log(response);
                        if(response.data){
                            window.open(response.data.data.link, '_blank');
                        }
                    });
            }
        },
        created() {
            this.getShortUrl()
        }
    }
</script>